/*Spinner*/
.spinnerContainer{
    height: 100vh;
}
.spinner {
    position: relative;
    margin: auto;
    box-sizing: border-box;
    background-clip: padding-box;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 4px solid var(--Gray);
    -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.1), #000000 90%);
    transform-origin: 50% 60%;
    transform: perspective(200px) rotateX(66deg);
    animation: spinner-wiggle 1.2s infinite;
  }
  .spinner:before,
  .spinner:after {
    content: "";
    position: absolute;
    margin: -4px;
    box-sizing: inherit;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    opacity: .05;
    border: inherit;
    border-color: transparent;
    animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1.2s linear infinite;
  }
  
  .spinner:before {
    border-top-color: var(--Gray);
  }
  
  .spinner:after {
    border-top-color: var(--Red);
    animation-delay: 0.3s;
  }
  
  @keyframes spinner-spin {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spinner-fade {
    20% {
      opacity: .1;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: .1;
    }
  }

/*Spinenr*/
/*Rectangle*/
.rectangle{
    width: 10rem;
    height: clamp(24rem, 80vw, 32rem);
    margin-left: -10rem;
    background: transparent;
    outline: 1rem solid var(--Red);
    z-index: -1;
}
/*Rectangle*/


.container{
    width: clamp(26rem, 100vw, 80rem);
    height: 81.5vh;  
    color: var(--Red);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.leftSection{
    width: clamp(22rem, 100vw, 30rem);
    height: clamp(20rem, 80vw, 40rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

.leftSection img{
    width: clamp(20rem, 80vw, 30rem);
    height: clamp(20rem, 80vw, 30rem);
    object-fit: contain;
    /* backdrop-filter: blur(10px); */
    filter: drop-shadow(0 0 0.75rem var(--Gray));
}
.shipName{
    font-size: 3rem;
}
.rightSection{
    width: clamp(22rem, 100vw, 30rem);
}