@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&family=Prosto+One&family=Revalia&display=swap');
:root{
  --Font1:'Orbitron',sans-serif;
  --Font2:'Revalia' , sans-serif;
  --Size: 18px;
  --regula: 400;
  --bold:600;
  
  /* COLORS */
  --Black:rgb(8,8,8);
  --Gray:rgb(59,68,75);
  --Cream:rgb(240,236,225);
  --Red:rgb(221,78,30);
  --Orange:rgb(229,112,61);
  --White:rgb(256,256,256);
  
}
body{
  font-size: var(--Size);
}
.App {
  background-image: url('../public/assets/bg-4.png');
  background-position: top;
  background-size: cover;
  backdrop-filter: blur(40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 100%;
  height: auto;
  font-family: var(--Font1);
}

a{
  text-decoration: none;
  color: #fff;
}

/* @media screen and (min-width: 1441px) {
  .App{
      height: 100vh;
  }
} */

/* @media screen and (max-width: 500px) {
  .App{
      height: auto;
  }
} */